/*GENERAL*/

* {
    box-sizing: border-box;
}

#container {
    padding-top: 50px;
}

body {
    font-family: 'Karla', sans-serif;
    font-size: 16px;
    background-color: hsl(204, 43%, 93%);
}

#main {
    margin: auto;
    width: 60%;
    border-radius: 10px;
    box-shadow: 6px 6px 20px 0 rgba(0, 0, 0, 0.19);
}

p {
    line-height: 22px;
}

.flex {
    display: flex;
}


/*------------------------------------------------------------END OF GENERAL------------------------------------------------------------*/


/* ALL ABOUT FOOTER*/

.foot {
    font-size: 11px;
    text-align: center;
}

.foot a {
    color: hsl(228, 45%, 44%);
}


/* ALL ABOUT ONE */

#one {
    background-color: white;
    padding: 30px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color: hsl(218, 22%, 67%);
}

#one h1 {
    color: hsl(179, 62%, 43%);
}

#one h3 {
    color: hsl(71, 73%, 54%);
}


/*------------------------------------------------------------END OF ONE------------------------------------------------------------*/


/* ALL ABOUT TWO*/

#two {
    width: 50%;
    display: block;
    float: left;
    padding: 30px;
    background-color: hsl(179, 62%, 43%);
    border-bottom-left-radius: 10px;
    color: white;
}

strong {
    font-size: 35px;
    color: white;
    padding-right: 5px;
    line-height: 1em;
}

button {
    background-color: hsl(71, 73%, 54%);
    color: white;
    padding: 10px;
    width: 75%;
    border-radius: 4px;
    font-weight: bold;
    border: none;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#two p.one {
    color: hsla(0, 0%, 100%, 0.5);
}

#two p.two {
    color: hsla(0, 0%, 100%, 0.8);
}


/*------------------------------------------------------------END OF TWO------------------------------------------------------------*/


/* ALL ABOUT THREE */

#three {
    width: 50%;
    float: left;
    display: block;
    padding: 30px;
    background-color: hsl(179, 47.2%, 51.8%);
    border-bottom-right-radius: 10px;
    color: white;
}

#three p {
    color: hsla(0, 0%, 100%, 0.5);
}


/*------------------------------------------------------------END OF THREE------------------------------------------------------------*/


/* Responsive */

@media only screen and (max-width: 500px) {
    #main {
        width: 90%;
    }
    #two {
        width: 100%;
        float: none;
        border-bottom-left-radius: 0px;
    }
    #three {
        width: 100%;
        float: none;
        border-bottom-left-radius: 10px;
    }
    .flex {
        display: inline;
    }
    button {
        width: 100%;
    }
}